.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito';
}

header {
    background-color: #10376E;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 24px;
    color: #FFFFFF;

    padding: 0 180px 0 180px;
}
.logo,.watch,.user {
    display: flex;
    align-items: center;
}

.logotype {
    background-color: #1389E6;
    text-align: center;
}

.logo_1 {
    margin: 0 27px 0 0;
    padding: 24px 19px;
}

.watch_1 {
    width: 33px;
    height: 33px;
    margin: 0 10px 0 0px;
}

#clock {
    color: white;
    font-family: Nunito, sans-serif;
    font-size: 42px;
}

.user {
    background-color: #0B264D;
    padding: 15px 46px;
}

.user_1 {
    height: 50px;
    width: 50px;
    margin-right: 20px;
}


.content {
    flex: 1 1 auto;
    background-color: #E5E5E5;
    padding: 0 180px;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 50px 0;
    margin: 0 -10px;
}

.column {
    background-color: #FFFFFF;
    border: 2px solid #CBD3DE;
    padding: 40px;
    flex: 0 1 50%;
    margin: 0 10px;
}

.column__body {
    display: flex;
    flex-direction: row;
    margin: 0 0 10px 0;
}

.column__img {
    width: 200px;
    height: 200px;
}

.column__info {
    flex: 1 1 auto;
    max-width: 100%;
    padding: 0 0 0 20px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    color: #041122;
}
.column__title {
    margin: 0 0 10px 0;
}

.column__text {
    font-size: 20px;
    font-weight: 400;
}

.text {
    font-size: 18px;
    font-weight: 400;
}

.tags {
    background-color: #CBD3DE;
    padding: 24px 57px 48px 30px;
    margin: 0 0 31px 0;
}

.tags__title {
    margin: 0 0 36px 0;
}

.tags__block {
    display: grid;
    column-gap: 30px;
    align-items: center;
    grid-template: repeat(2,50px)/ repeat(3, 18%) 46%;
}

.tags__video {
    color: #1E3351;
    font-size: 36px;
}

.tags__audio {
    color: #325689;
    grid-column: span 2;
    font-size: 44px;
}

.tags__table {
    color: #0B1F3A;
    grid-row: span 2;
    font-size: 70px;
    align-self: flex-end;
}

.tags__calc {
    color: #10376E;
    font-size: 40px;
}

.tags__forum {
    color: #1E3351;
    font-size: 42px;
    justify-self: center;
}

.tags__sett {
    color: #3E6499;
    font-size: 37px;
}



footer {
    background-color: #E1E8F1;
    height: 166px;
    padding: 0 180px;
}

.basic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

.basic__logo {
    padding: 22px 21px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
}

.basic__text {
    font-weight: 400;
    font-size: 18px;
}

.basic__ok {
    background-color: #10376E;
    padding: 14px 94px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
}

.license {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.license__year {
    color: #818790;
}

.license__href {
    color: #10376E;
}






